@{
    ViewData["Title"] = "Início";
}
@model PessoaViewModel

<div class="mt-4 table-responsive">
    <table class="table table-striped align-middle table-bordered">
        <thead>
            <tr class="table-dark">
                <th>#</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Logradouro</th>
                <th>Numero</th>
                <th>CEP</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var p in Model.PessoaList)
            {
                <tr>
                    <td class="pessoas-column" scope="row">@p.id</td>
                    <td class="pessoas-column" scope="row">@p.nome</td>
                    <td class="pessoas-column" scope="row">@p.cpf</td>
                    <td class="pessoas-column" scope="row">@p.endereco.logradouro</td>
                    <td class="pessoas-column" scope="row">@p.endereco.numero</td>
                    <td class="pessoas-column" scope="row">@p.endereco.cep</td>
                    <td class="pessoas-column" scope="row">@p.endereco.bairro</td>
                    <td class="pessoas-column" scope="row">@p.endereco.cidade</td>
                    <td class="pessoas-column" scope="row">@p.endereco.estado</td>
                    <td>
                        <button class="btn btn-danger fw-bold" type="button" onclick="deletePessoa(@p.id)">Deletar</button>
                    </td>
                    <td>
                        <button class="btn btn-primary fw-bold" type="button"
                        onclick="updatePessoa(@p.id)">Atualizar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
